<h2><%= @album.name %> by
	<%= link_to @album.band.name, band_url(@album.band) %>

	<%= " (Live)" if @album.is_live %>

</h2>

<ul>
	<% @album.tracks.each do |track|%>
	<li>
		<form action="<%=track_url(track)%>" method="post">
			<%= link_to track.name, track_url(track) %>
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete track">
		</form>
	</li>
	<% end %>
</ul>