<div><%=@band.name%></div>

<ul>
	<% @band.albums.each do |album| %>
	<li>
		<form action="<%=album_url(album)%>" method="post">
			<%= link_to album.name, album_url(album)%>
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete album">
		</form>
		<ul>
			<% album.tracks.each do |track| %>
				<li>
					<form action="<%=track_url(track)%>" method="post">
						<%= link_to track.name, track_url(track) %>
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Delete track">
					</form>
				</li>
			<% end %>
		</ul>
	</li>
	<%end%>
</ul>